<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <connectionStrings>
    <add name="MoltrupMotionDB" connectionString="Data Source=.\sqlexpress;Initial Moltrup=MoltrupMotion;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>-->
<configuration>
  <connectionStrings>
    <add name="MoltrupMotionDB" connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=MoltrupMotion;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>